@{
    ViewData["Title"] = "Green Shop!";
}
@model List<Product>


<div class="row">
@foreach (var product in Model)
{
    <div class="col-4 card shadow">
        <div class="card-body">

            <img class="card-img-top" src="~/images/2.PNG" />
                <a style="color:#393D4A" href="/product/index/@product.ID"><h5>@product.ID</h5></a>
            <h5 style="color:#393D4A">@product.Cost $</h5>
                <a class="btn btn-dark" role="button" href="/cart/add?productId=@product.ID">Add to cart</a>
             
        </div>
    </div>
}
</div>

<div class="text-center"></div>


