@{
    ViewData["Title"] = "Green Shop!";
}
@model List<Product>

<div class="row">
@foreach (var product in Model)
{
    <div class="col-3 card shadow">
        <div class="card-body">

            <img class="card-img-top" src="~/images/2.PNG" />
            <a style="color:#393D4A" href="/product/index/@product.ProductID"><h5>@product.Name</h5></a>
            <h5 style="color:#393D4A">@product.Cost $</h5>
            <a class="btn btn-dark" href="#" role="button">Add to cart</a>
        </div>
    </div>
}
</div>

<div class="text-center"></div>
